<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>liineLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6E28A661D5B2E57000E8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E28A7F1D5B2E57000E8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E28A8A1D5B2E57000E8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
